@font-face
{
    font-family: 'raleway';
    src: url('font/Raleway-Black.ttf'),
        url('font/Raleway-BlackItalic.ttf') url('font/Raleway-VariableFont_wght.ttf') url('font/Raleway-Italic-VariableFont_wght.ttf');
}


body{
    font-family: 'raleway', 'cavolini';
}

/* header */

header{
    display: flex;
    flex-wrap: wrap;
}

header img{
    padding: 48px 0;
    height: 50px;
}

nav{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    
}

nav a{
    width: 162px;
    text-align: center;
    padding-top: 48px;
    border-top: 3px solid #F2F2F2;
    color: #000;
    text-decoration: none;
}

nav a:hover{
    border-color: #0065FC;
}

header span{
    padding-right: 28px;
    padding-top: 48px;
}

header span a{
    color: #0065FC;
    font-weight: bold;
}

@media all and (max-width: 1200px){

/*HEADER*/
header img, header span{
     padding: 0;
}
header{
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
header img{
    margin-left: 20px;
}
nav{
    flex-basis: 100%;
    order: 2;
    display: flex;
}
nav a{
    width: 50%;
    text-align: center;
    padding: 16px 0;
    border-top: none;
    border-bottom: 3px solid #F2F2F2;
}
header span{
    order: 1;
    margin-right: 20px;
}